@media screen and (max-width: 768px) {
  .change-alignment {
    text-align: center;
    padding: 3%;
    margin: 3%
  }
}

.fade-in-service {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

@-webkit-keyframes fade-in-service {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}