/* @media screen and (min-width: 576px) {
  .change-alignment {
    text-align: left;
  }
} */

@media screen and (max-width: 768px) {
  .change-alignment {
    text-align: center;
    padding: 3%;
    margin: 3%
  }
}
