/* body {
  background-color: #A6A6A6;
} */

.hero {
  background-image: url(/images/grayscale-watercolor-leaf-background-beautiful-floral-illustration.jpg);
}

nav {
  background-color: rgb(166, 166, 166, .5);
}

nav a, .navbar-nav li a {
  color: #ffffff;
}

/* a border box around the hamburger - does not appear at all  - MAY WANT TO DELETE THIS AS UNECCESSARY*/
.custom-toggler .navbar-toggler {
  border-color: none;
}

/* changes hamburger color AND icon? */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 228, 228, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*IMAGE OFFSET TEXT*/
/* .outerbox {
  position: relative;
}

div.innerbox {
  position:absolute;
  top:260px;
  left:190px;
  width:242px;
  height:366px;
  z-index:7;
  } */






.about-text {
  padding: 0;
  z-index: 1;
  position: relative;
}

.text-gradient {
  z-index: 1;
  background: linear-gradient(180deg, #6f6f6f 0%,#0E0E0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.about-face {
  /* padding: ; */
  z-index: 0;
} 

.services {
  height: 150px;
}

.experience {
  height: 150px;

}

.portfolio {
  height: 150px;

}

.contact {
  height: 150px;

}

/* Attributions 
leafy watercolor background - <a href='https://www.freepik.com/photos/background'>Background photo created by rawpixel.com - www.freepik.com</a>
*/