/* body {
  background-color: blue;
} */

.react-pdf__Document {
  background-color: red;
display: flex;
justify-content: center;
height: ;


/* max-height: 100vh;
max-width: max-content; */
/* padding-bottom: 25%; */
  /* object-fit: contain; */
}

.react-pdf__Page__canvas {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  max-height: 80vh;
  max-width: 800vw;
  
  /* max-width: 20vw;
  max-height: 33.33vh; */


  /* padding-bottom: 25%; */

  /* margin: auto;
  max-width: 100%;
  /* height: auto; */
}
