/* override button styling with css - must use !important to overcome react-bootstrap */

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(../fonts/Oswald-VariableFont_wght.ttf) format("truetype");
}

body {
  font-family: Oswald, serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem !important;
}

.no-wait-fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes no-wait-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
